<%- layout('layouts/boilerplate') %>
<!-- pre loader -->
<div class="loader-container">
    <img draggable="false" src="/images/preloader.gif" alt="">
</div>

<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
        <h3>Hey!<br /> I'm Keith <span>Thomas</span></h3>
        <p>i create <span class="typing-text"></span></p>
        <!-- Social Links -->
        <div class="socials">
            <ul class="social-icons">
                <li><a class="linkedin" href="https://www.linkedin.com/in/keith--thomas/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a class="github" href="https://github.com/kryzodoze" target="_blank"><i
                            class="fab fa-github"></i></a>
                <li><a class="twitter" href="https://twitter.com/Kryzodoze" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="image">
        <img draggable="false" class="tilt" src="images/profilePhoto2.png" alt="">
    </div>
</section>
<!-- hero section ends -->


<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/profilePhoto3.png" alt="">
        </div>
        <div class="content">
            <h3>I'm Keith</h3>
            <span class="tag">Freelance Software Engineer</span>
            <p style="text-transform: none" >I left big tech a few years ago to pursue my dream of being my own boss. Since then I've taken
                on a number of clients, and am always looking for more! I'm most comfortable in a game engine
                (or at least a 3D library like three.js/babylon.js). Reach out for a quote or just to say hi,
                I'm happy to chat about the problem you're facing if I have the time!
            </p>

            <div class="box-container">
                <div class="box">
                    <p><span> age: </span> 31</p>
                    <p><span> work experience : </span> 7 years</p>
                </div>
                <div class="box">
                    <p><span> email : </span> <span class="nonSelectable">
                        keithwthomas1
                        <img width="16px" height="16px" src="images/@.png"/>
                        gmail.com</span>
                    </p>
                    <p><span> place : </span> Chicago, IL</p>
                </div>
            </div>
            <!-- Resume Download Button -->
            <div class="resumebtn">
                <a href="pdf/2022FallResume.pdf" class="btn" download=""><span>Download Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- about section ends -->


<!-- work project section starts -->
<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container">
        <% for(let i = 0; i < 6; i++) { %>
        <div class="box tilt">
            <img draggable="false" src="<%=projects[i].image%>" alt="Project Image" />
            <div class="content">
                <div class="tag">
                    <h3><%=projects[i].name%> </h3>
                </div>
                <div class="desc">
                    <p style="text-transform: none"><%=projects[i].desc%> </p>
                    <div class="technology">
                        <% for(let j = 0; j < projects[i].tech.length; j++) { %>
                        <div class="skillbar" style="transform: scale(<%=projects[i].techScale%>);">
                            <div class="info">
                                <span style="color:white;"><%=projects[i].tech[j].name%></span>
                                <span style="color:white;"><%=projects[i].tech[j].value%></span>
                            </div>
                            <div class="line" style="width: <%=projects[i].tech[j].value%>; background: <%=projects[i].tech[j].color%>;"></div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="viewall">
        <a href="/project" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</section>
<!-- work project section ends -->

<!-- skills section starts -->
<section class="skills" id="skills">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="skillbar">
                    <div class="info">
                        <i class="fab fa-unity">
                            <span>Unity</span></i>
                        <span>9/10</span>
                    </div>
                    <div class="line unity"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>Babylon.js</span></i>
                        <span>8/10</span>
                    </div>
                    <div class="line babylonjs"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>Virtual Reality</span></i>
                        <span>8/10</span>
                    </div>
                    <div class="line virtualreality"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>C#</span></i>
                        <span>8/10</span>
                    </div>
                    <div class="line csharp"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>HTML/CSS</span></i>
                        <span>5/10</span>
                    </div>
                    <div class="line htmlCss"></div>
                </div>
            </div>

            <div class="col">

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>Three.JS</span></i>
                        <span>9/10</span>
                    </div>
                    <div class="line threejs"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>WebXR</span></i>
                        <span>7/10</span>
                    </div>
                    <div class="line webxr"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab">
                            <span>Augmented Reality</span></i>
                        <span>6/10</span>
                    </div>
                    <div class="line augmentedreality"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab fa-js-square">
                            <span>Javascript</span></i>
                        <span>8/10</span>
                    </div>
                    <div class="line javascript"></div>
                </div>

                <div class="skillbar">
                    <div class="info">
                        <i class="fab fa-react">
                            <span>ReactJS</span></i>
                        <span>4/10</span>
                    </div>
                    <div class="line reactjs"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- skills section ends -->

<!-- scroll top btn -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->