<%- layout('layouts/boilerplate') %>

<!-- work project section starts -->
<section class="work" id="work" data-aos="fade-in" data-aos-delay="300">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container">
        <% for(let i = 0; i < projects.length; i++) { %>
        <div class="box tilt">
            <img draggable="false" src="<%=projects[i].image%>" alt="Project Image" />
            <div class="content">
                <div class="tag">
                    <h3><%=projects[i].name%> </h3>
                </div>
                <div class="desc">
                    <p style="text-transform: none"><%=projects[i].desc%> </p>
                    <div class="technology">
                        <% for(let j = 0; j < projects[i].tech.length; j++) { %>
                        <div class="skillbar" style="transform: scale(<%=projects[i].techScale%>);">
                            <div class="info">
                                <span style="color:white;"><%=projects[i].tech[j].name%></span>
                                <span style="color:white;"><%=projects[i].tech[j].value%></span>
                            </div>
                            <div class="line" style="width: <%=projects[i].tech[j].value%>; background: <%=projects[i].tech[j].color%>;"></div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="backbtn">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

</section>
<!-- work project section ends -->

<!-- scroll top btn -->
<a href="#work" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->